.uPhoto img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.pad {
    padding: 20px;
}

.selectPage {
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}

.Users_cursor__2-u8l {
    padding: 10px
}