.uPhoto img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.pad {
    padding: 20px;
}

.selectPage {
    font-weight: bold;
}

.cursor {
    display: flex;
    justify-content: center;

}

.pagDot{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 6px;
    background: #f8f8f8;
    margin: 6px;
}
.pagItem{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 6px;
    background: #f8f8f8;
    cursor: pointer;
    margin: 6px;
}
.pagItem:hover{
    background: #eee;
}