.uPhoto img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.list{
    display: flex;
    flex-wrap: wrap;
}
.pad {
    width: 33%;
    margin: 10px 0.10%;
    padding: 25px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 15px;
    transition: all .3s;
}

.pad:hover {
    background: #ffd4c9;
}

.selectPage {
    font-weight: bold;
}

.cursor {
    display: flex;
    justify-content: center;

}

.pagDot{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 6px;
    background: #f8f8f8;
    margin: 6px;
}
.pagItem{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 6px;
    background: #f8f8f8;
    cursor: pointer;
    margin: 6px;
}
.pagItem:hover{
    background: #eee;
}