.header {
    grid-area: h;
    background-color:#ff3399;
}
  
.header img {
    width: 50px;
    border-radius: 40px;
    padding: 5px;
    margin-left: 335px;
}

.loginBlock {
  float: right;
  padding: 20px 0;
  margin-right: 320px;
}

.loginBlock a {
  color: #fff
}
